#header{
    background-color: lightgrey;
    display: flex;
    padding: 12px;
    margin: 5px; 
    align-items: center;
    gap: 260px;
}

#footer{
    background-color: lightgrey;
    font-style: italic;
    padding: 5px;
    height: 140x;
    margin: 5px; 
}

.f{
    color: blue;
}

.container{
    display:flex;
    background-color: #e1e1dd;
    gap: 20px;
    padding: 20px;
    margin: 5px;
}

    .image img{
        width: 825px;
        height: auto;
        border-radius: 20px;
    }


    .text p{
        margin: 1px;
        padding: 12px;
        font-family:cursive;
        font-size: x-large;
    }

.nav{
    display:flex;
    gap: 25px;
}

button{
    padding: 10px 16px;
    background-color: yellow;
    border-radius: 16px;
    cursor: pointer;
}

button:hover{
    background: #dae546;
}

a{
    color:black;
    font-weight: bold;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

/* Below Need to be Understood #Mobile-friendly *//*
@media (max-width: 768px) {
  #header {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    text-align: center;
  }

  .nav {
    flex-direction: column;
    gap: 10px;
  }

  .button {
    margin-top: 10px;
  }

  .container {
    flex-direction: column;
    padding: 10px;
  }

  .image img {
    width: 100%;
  }

  .text p {
    font-size: large;
    padding: 10px;
  }

  button {
    font-size: 16px;
    padding: 12px;
  }
}
*/

/* New stuff need to be Understood */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text {
  text-align: center;
}


/*Models Section Styles*/
#models{
  margin: 5px;
  padding: 10px;
  background-color: #e5e7dd; 

}

.Model-Container{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  justify-content: center;

}

.card{
background-color: #f2f2f2;
border-radius: 20px;
width: 300px;
padding: 20px;
text-align: center;
box-shadow: 4px 4px 8px grey;
transition: transform 0.3s ease;
}

.card img{
 width: 100%;
 height:auto;
 border-radius: 20px;
}

.card:hover{
transform: translateY(-10px);
}

/*Models Section Mobile Version */
@media (max-width: 768px) {
  .Model-Container{
    flex-direction: column;
    align-items: center;
  }
  
  .card{
    width: 90%;
  }
}
